{CSSTemplate {
    $classpath : "app.modules.stickywall.views.css.Wall"
}}

    {macro main()}
    	div.wall {
    		width: 100%;
    		height: 100%;
    		border-bottom: 1px solid black;
    	}

    	div.postit {
    		position: relative;
    		min-width: 4em;
    		min-height: 4em;
    		max-width: 10em;
    		max-height: 10em;
    		background-color: white;
    	}

    	div.postit div.selected {
    		background-color: blue;
    	}

    	div.postit div.draggable {
    		padding: 1em;
    		border: 1px solid black;
    		width: 100%;
    		height: 100%;
    	}

    	div.postit.name {
    		background-color: blue;
    	}

    	div.postit.content {
    		border: 1px solid red;
    	}
    {/macro}

{/CSSTemplate}