{CSSTemplate {
    $classpath : "app.views.css.Main"
}}

    {macro main()}
      div#submodule {
        height: calc(100% - 50px);
      }

			.navbar {
				margin-bottom: 0;
			}
    {/macro}

{/CSSTemplate}